<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Manage your BandTodo</p>
    <a href="/bands/add" class="btn btn-warning btn-lg">Add New band</a>
    
</div>